/*Start Variables*/
:root {
    --main-color: #10cab7;

}
/*End Variables*/

/*Start Global Rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* SMALL*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* MEDIUM*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* LARGE*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*End Global Rules*/

/* start Components */
.special-heading{
    color: #e2e1e1;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0px;
}

.special-heading + p{
    margin:-30px 0 0;
    font-size:20px;
    text-align: center;
    color: #2c2c2c;
}

@media (max-width: 767px){
    .special-heading{
        font-size: 60px;
    }

    .special-heading + p{
        margin-top: -20px;
    }

}
/* End Components */

/* start header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
    z-index: 1;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {

    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 170px;
    top: calc(100% + 12px);
    display: none;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: #ff000000 #00800000 #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 20px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* End header */

/* Start Landing  Section */
.landing {
    background-image: url(../img/mountain.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 320px;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* End Landing  Section */

/* Start Feature  */
.feature {
    padding-top: 60px ;
    padding-bottom: 60px ;
    background-color: #f6f6f6;
}

.feature .container {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.feature .feat{
    padding: 20px;
    background-color:  rgba(233, 229, 229, 0.271);
    text-align: center;
}

.feature .feat i{
    color: var(--main-color);
    font-size: 40px;
}

.feature .feat h3{
    font-weight: 800;
    margin: 20px 0;
}

.feature .feat p{
    line-height: 1.8;
    color: #2c2c2c;
    font-size: 15px
}

/* End Feature  */

/* Start Services */
.services{
    padding-top: 60px;
    padding-left: 60px;
}

.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top:100px;
}

.services .services-content .srv{
    display: flex;
    margin-bottom: 40px
}

.services .services-content image{
    width: 500px;
    height: 500px;
}
/* End Services */